

import React from 'react';
import './Aboutvcube.css';




function About(){
     

return(
<div className="About">
            <h1 style={{backgroundColor:"blue", textAlign: "center",fontSize: "2.0em"}}>About Us</h1>
            <img src='lovePik.jpg' alt='C:\Fronted\frontend-project\public\lovepik.jpg' style={{width: "75%",height: "auto",marginLeft:'125px', border:'0',marginRight:"500px"}}/>
             
            <div className='carrer'>
                <div className='div' >
        
        <b><h3 style={{color:"blue",textAlign: "center", fontSize: "2.0em"}}>About VCUBE</h3></b>
                
                <p style={{ fontSize: '1.5em', lineHeight: '1.5',marginTop:'25px' ,color:"black"}}>
                    is an institute that caters to the needs of students, businessmen and
                    freelancers wanting to learn, improve, explore and soar in their careers.
                    Our corporate office is located in Kukatpally, Hyderabad, India and our
                    training centers are in Kukatpally and Ameerpet, Hyderabad, India.
                    VCUBE software Solutions Pvt.Ltd offers online information technology
                    courses, online computer programming classes and starting information
                    technology courses. Take advantage of both online and offline resources.
                    </p>
                    
                    <div style={{ flex: '1' }}>
            <img src='lovepik-white.jpg' alt='C:\Fronted\frontend-project\public\lovepik-white.jpg' style={{width: "70%",height: "auto",marginLeft:'125px', border:'0',marginRight:"500px"}}/>
           
        </div>
                    <p style={{ fontSize: '1.5em', lineHeight: '1.5',marginTop:'25px',color:"black"  }}>
                    Companies now seek to be able to consume few resources, provide long-term
                    solutions, and add significant value to the economy as a whole.
                    To do so, most businesses consider digital transformation to be a way of life.<br></br>
                    </p>
                    

                   
                    <p style={{ fontSize: '1.5em', lineHeight: '1.5',marginTop:'25px',color:"black"  }}>
                    V CUBE Software Solutions can help with this. To achieve that vision, we
                    want to create an ecosystem that not only educates but also empowers
                    the environment with talented resources. The goal does not end with
                    education; it is just the beginning of a future that teaches, incubates,
                    and accelerates tomorrow’s discoveries in order to create a better, more
                    sustainable society.
              </p>
             
              
            </div>
              </div>
             

              
            
             
              
              <div>
                 <h3 style={{color:"blue" ,textAlign: "center",fontSize: "2.0em"}}>Our Mission</h3>
                    <p style={{ fontSize: '1.5em', lineHeight: '1.5',textAlign:'center', color:"black"}}>
                           We were founded with the goal of providing students with training in the world’s most exciting sectors,
                           preparing them for jobs and industries, and preparing them to face competitive challenges.
                    </p>
                </div>
                <div>
                    <h3 style={{color:"blue" ,textAlign: "center",fontSize: "2.0em"}}>Our Vision</h3>
                    <p style={{ fontSize: '1.5em', lineHeight: '1.5',textAlign:'center',color:"black"}}>
                         To create an evident aura of expertise and education that 
                         encompasses each graduate and emanates directly from the quality of the 
                         individual instructor’s influence and contact with the student. </p>
                </div>
                

                <h3 style={{color:"orange",textAlign: "center",fontSize: "2.0em"}}>Why Choose Us</h3>
                <h3 style={{color:"blue",textAlign: "center",fontSize: "2.0em"}}>Comprehensive Training</h3>
                <div style={{ flex: '1' }}>
            <div className='about'>
            <div className="about-text" style={{marginTop:'60px',marginBottom:'30px',marginRight:'30px',marginLeft:'30px'}}>
                <p style={{ fontSize: '1.5em', lineHeight: '1.5',textAlign:'Justify',color:"black"}}>
                  V Cube offers in-depth training on a wide range of software  techologies, delivered by real-time industry experts. We also provide lab sessions<br />
                   after every class to give you hands-on experience. To solidify your learning, you will be required to work on a mandatory project in a field or<br />
                  domain of your choice, replicating real-time use cases.<br /><br />
                  This comprehensive training approach ensures that you develop the skills and knowledge you need to succeed in your software career.</p>
            </div>
            <div className="comuters" style={{ marginRight:'30px', marginBottom: '30px' }}>
            <div style={{ flex: '1' }}>
            <img src='lovepik-business.jpg' alt='C:\Fronted\frontend-project\public\lovepik-business.jpg' style={{ width: "70%",height: "auto",marginLeft:'145px', border:'0',marginRight:"500px"}} /><br></br>
        </div>
        </div>
        </div>
            
                <h3 style={{color:"blue",textAlign: "center",fontSize: "2.0em"}}>Holistic Career Support</h3>
             <p style={{ fontSize: '1.5em', lineHeight: '1.5',textAlign:'bottom',marginTop:'25px',marginRight:'30px',marginLeft:'30px',color:"black"}}>
                    At VCube, we believe that your career success is our success.
                    That’s why we provide a range of career support services to help you land your dream job.<br /><br />
                Our services include:<br />
                <ol><b>Profile building:</b> We help you build a strong resume and LinkedIn profile that highlights your skills and experience. We also guide you on how to write effective LinkedIn postings.</ol>
                <ol><b>Weekly examinations:</b> We conduct weekly examinations to assess your progress and help you identify areas where you need additional support.</ol>
                <ol><b>Mock interviews:</b> We conduct mock interviews to help you prepare for the real thing. We provide feedback on your performance and help you improve your interview skills.</ol>
                <ol><b>Continuous LinkedIn profile building activities:</b> We help you build your LinkedIn profile throughout the course, ensuring that it is always up-to-date and relevant to your job search.</ol>
                <ol><b>Agile methodology practices: </b>We teach you how to use agile methodology to manage projects and deliver high-quality software on time and within budget.</ol>
                <ol><b>Online aptitude classes: </b>We offer online aptitude classes to help you prepare for aptitude tests that are often conducted by software companies during the hiring process.</ol>
                <ol><b>Job assistance: </b>We provide job assistance to our students, including helping them identify job openings, prepare for interviews, and negotiate salaries.</ol>
               
              
                 <h3 style={{color:"blue",textAlign:"center",fontSize: "2.0em"}}>Agile Methodology for Project Execution</h3>
                We believe that agile methodology is the best way to execute software projects. Agile is an iterative and incremental approach to software development that allows us to deliver high-quality software quickly and efficiently.<br /><br />

                At V Cube, we follow a weekly sprint planning process for project execution. This process includes the following steps:<br /><br />

                <b>Step 1: Resource Planning</b><br /><br />

                We divide our students into small batches of up to 25 students. Each batch is assigned a dedicated project team with a combination of developers, testers, and DevOps engineers.<br /><br />

                <b>Step 2: Project Planning</b><br /><br />

                We start by gathering project requirements from our clients. Once we have a good understanding of the requirements, we develop a project functional design and technical design. We also discuss and prepare project test case scenarios.<br /><br />

               <b> Step 3: Development / Test Cases Preparation</b><br /><br />

                Our students then begin developing the software and preparing test cases. We provide them with all the necessary resources and support to ensure that they are successful.<br /><br />

                <b>Step 4: Project Production Deployment Planning</b><br /><br/>

                Once the software is developed and tested, we deploy it to the production environment. We use Git for code version control, Linux OS and Apache web server for public hosting, Jira/MANTIS tool for bug tracking, and DevOps tools like Jenkins and Pipelines to migrate the code to the production environment.<br /><br />

                <b>Step 5: Inputs for next Sprint life cycle</b><br /><br />

                At the end of each sprint, we gather feedback from our clients and use it to plan the next sprint. This ensures that we are constantly improving the software and meeting the needs of our clients.

                <b><h3 style={{color:"blue",textAlign:"center",fontSize: "2.0em"}}>Rewards Program</h3></b>
                We are committed to helping our students succeed, and we recognize that hard work and dedication deserve to be rewarded. 
                That’s why we have a rewards program in place for our students.<br /><br />

                Our rewards program includes the following:<br />

                <oll><li>Mentorship opportunity: We offer our top students the opportunity to mentor a small group on the project, along with a cash incentive.</li></oll>
                <oll><li>Internship opportunity: We offer our students with good attendance in classes and weekly exams the opportunity to intern with us.</li></oll></p>
                <br />
                </div>
                
              
            
                <div className='service'>
                    <h2 style={{color: "blue",textAlign: "center",fontSize: "2.0em"}}>OUR SERVICE</h2>
                    <p style={{ fontSize: '1.5em', lineHeight: '1.5',textAlign:'center',color:'black'}}>
                        We offer high-quality training from industry expert in a variety of
                       technologies to suit candidates with various academic backgrounds.
                       The training is appropriate for all aspiring IT professionals and is
                       provided by an experienced faculty team.
                       We have seasoned instructors who can help professionals improve their
                      technology skills for day-to-day tasks.
                    <ul>
                        1. Classroom Training<br />
                        2. Corporate Training<br />
                        3. Online Training
                    </ul></p>
                </div>  
                
        
            <div className='trains'>
                    <p style={{ fontSize:"2.0em",textAlign:"center",color:"blue"}}>OUR Trainers</p>
                    <div className='train-images' style={{textAlign:"center"}}>
                    <div className='SRINIVAS-SIR' style={{marginRight:"35px"}} >
                    <a href="#SRINIVAS-SIR-code">
                       <img src='SRINIVAS-SIR.png' alt='SRINIVAS-SIR' className='SRINIVAS-SIR-image' title='SRINIVAS - PYTHON'/>
                        <name className=' SRINIVAS-SIR-name'><b>MR.SRINIVAS <br />PYTHON</b></name>
                        </a>
                        </div>
                <div className='SRIKATH-SIR'>
                <a href="#SRIKATH-SIR-code">
                <img src='SRIKATH-SIR.jpg' alt='MR-PVR' className='SRIKATH-SIR-image' title='SRIKATH-SIR -JAVA'/>
                
                <name className= 'SRIKATH-SIR-name'><b>MR-SRIKATH <br />JAVA</b></name>
                </a>
                </div>
                <div className='MADHUKAR-SIR'>
                <a href="#MADHUKAR-SIR-code">
                    <img src='MADHUKAR-SIR.png' alt='MADHUKAR-SIR' className='MADHUKAR-SIR-image' title='MADHUKAR-SIR -DEVOPS'/>
                    <name className= 'MADHUKAR-SIR-name'><b>MR-MADHUKAR <br />DEVOPS</b></name>
                    </a>
                     </div>
                     <div className='VISHWATH-SIR'>
                     <a href="#VISHWATH-SIR-code">
                    <img src='VISHWATH-SIR.png' alt='VISHWATH-SIR' className='VISHWATH-SIR-image'title='VISHWATH-SIR -JAVA'/> 
                    <name className= 'VISHWATH-SIR-name'><b>MR-VISHWATH <br />JAVA</b></name>
                    </a>
                    </div>
                    <div className='MANOHAR-SIR'>
                    <a href="#MANOHAR-SIR-code">
                    <img src='MANOHAR-SIR.png' alt='MANOHAR-SIR' className='MANOHAR-SIR-image' title='MANOHAR-SIR -TESTINGTOOLS'/>
                    <name className= 'MANOHAR-SIR-name'><b>MR-MANOHAR <br />TESTINGTOOLS</b></name>
                    </a>
                    </div>
                    </div>
                </div>
                <div className='team'>
                    <p style={{fontSize:"2.0em",textAlign:"center",color:"blue"}}>Meet Our Core Team<br /><br />
                    <img src='G.SHYAM.png' alt='G.SHYAM'/>
                    <img src='N.SIREESHA.PNG' alt='N.SIREESHA' />
                    <img src='P.Hari Prasad.png' alt='P.Hari Prasad'/>
                    <img src='L.SUJATHA.png' alt='L.SUJATHA'/>
                    <img src='L.SOUJANYA.png' alt='L.SOUJANYA'/> </p>
                </div>
                
            <div className='marketingteam'>
                    <p style={{fontSize:"2.0em",textAlign: "center",color: "blue"}}>Our Digital Marketing Team</p>
                    <div className='marketingteam' style={{textAlign:"center"}}>
                     <div className='LOKESH BANDURU' style={{marginRight:"35px"}}>
                     <a href="#LOKESH BANDURU-code">
                   <img src='LOKESH BANDURU.jpg' alt='SAI'className='LOKESH BANDURU-image'title='LOKESH BANDURU Marketing Team' />
                    <name className='LOKESH BANDURU-name'><b>LOKESH BANDURU <br />MarketingTeam</b> </name>
                    </a>
                    </div>
         <div className='SATHWIK NOOLI'>
         <a href="#SATHWIK NOOLI'-code">
            <img src='SATHWIK NOOLI.jpg' alt='SATHWIK NOOLI' className='SATHWIK NOOLI-image' title='SATHWIK NOOLI Marketing Team'/>
            <name className='SATHWIK NOOLI-name'><b>SATHWIK NOOLI <br /> Marketing Team</b></name>
            </a>
        </div>
        <div className='NAYAB MAHAMMED MOIN'>
         <a href="#NAYAB MAHAMMED MOIN-code">
            <img src='NAYAB MAHAMMED MOIN.jpeg' alt='NAYAB MAHAMMED MOIN' className='NAYAB MAHAMMED MOIN-image' title='NAYAB MAHAMMED MOIN Marketing Team'/>
            <name className='NAYAB MAHAMMED MOIN-name'><b> NAYAB MAHAMMED MOIN<br /> Marketing Team</b></name>
            </a>
        </div>
        
        
        <div className='ANIL KUMAR'>
        <a href="#ANIL KUMAR-code">

            <img src='ANIL KUMAR.JPG' alt='ANIL KUMAR' className='ANIL KUMARL-image' title='ANIL KUMAR Marketing Team'/>
            <name className='ANIL KUMAR-name'><b>ANIL KUMAR<br /></b> Marketing Team</name>
            </a>
        
        </div>
        <div className='SWETHA BANDARAPU'>
        <a href="#SWETHA BANDARAPU-code">
            <img src='SWETHA BANDARAPU.jpeg' alt='SWETHA' className='SWETHA BANDARAPU-image' title=' SWETHA BANDARAPU Marketing Team'/>
            <name className='SWETHA BANDARAPU-name'><b>SWETHA BANDARAPU<br /></b> Marketing Team</name>
            </a>
        </div>
        <div className='MOUNIKA ALUGUVELLI'>
        <a href="#MOUNIKA ALUGUVELLI-code">
            <img src='MOUNIKA ALUGUVELLI.jpeg' alt='MOUNIKA ALUGUVELLI' className='MOUNIKA ALUGUVELLI-image'title='MOUNIKA ALUGUVELLI Marketing Team' />
            <name className='MOUNIKA ALUGUVELLI-name'><b>MOUNIKA ALUGUVELLI<br /></b> Marketing Team</name>
            </a>
            </div>
            <div className='SUNEEL KUMAR'>
        <a href="#SUNEEL KUMAR-code">
            <img src='SUNEEL KUMAR.jpg' alt='SUNEEL KUMAR' className='SUNEEL KUMAR-image'title='SUNEEL KUMAR Marketing Team' />
            <name className='SUNEEL KUMAR-name'><b>SUNEEL KUMAR<br /></b> Marketing Team</name>
            </a>
            </div>
            </div>
    </div>
    <div className='designer' >
                    <p style={{fontSize:"2.0em",textAlign: "center",color: "blue"}}> Our Graphic Designer Team</p>
                    <div className='designer' style={{textAlign:"center"}}>
                    
                 </div>
                
                        <div className='MOHAN SAI'>
                        <a href="#MOHAN SAI-code">
                        <img src='MOHAN SAI.png' alt='MOHAN SAI' className='MOHAN SAI'  title='MOHAN SAI-Graphic Designer'/>
                        <name className='MOHAN SAI-name'><b>MOHAN SAI <br />Graphic Designer</b> </name>
                   </a>     
             </div>
             <div className='MOHAMMED HARIS'>
                        <a href="#MOHAMMED HARIS-code">
                        <img src='MOHAMMED HARIS.png' alt='MOHAMMED HARIS' className='MOHAN-SAI'  title='MOHAMMED HARIS-Graphic Designer'/>
                        <name className='MOHAMMED HARIS-name'><b>MOHAMMED HARIS <br />Graphic Designer</b> </name>
                   </a>     
             </div>
             </div>
             </div>
            
           
);
};

export default About;
.about {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.about p {
    text-align: center;
}

.about h1 {
    text-align: center;
    margin-top: 50px;
}

.carrer h3 {
    text-align: center;
    
}
.about-text {
    display: flex;
}

.about-text img {
    margin-right: 30px; /* Adjust the value as needed */
}

.about-text p {
    margin-left: 30px; /* Adjust the value as needed */
}
.carrer p {
    font-size: large;
    margin-left: 10pc;
    margin-right: 10pc;
}

.train-images img {
    border-radius: 20%;
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.train-images img:hover {
    transform: scale(1.1);
}

.train-images img {
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.train-images name {
    display: inline-block;
    font-size: small;
    font-style: normal; /* Corrected property */
}

.train-images name:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-color: rgba(140, 140, 140, 0.856);
}

.SRINIVAS-SIR {
    position: relative;
    display: inline-block;
    background-color: rgb(230, 230, 240);
    width: 305px;
}

.SRINIVAS-SIR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
}
.SRINIVAS-SIR-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: #0000ff(260, 260, 260, 0.8);
    padding: 5px;
    border-radius: 5px;
}
.SRIKATH {
    position: relative;
    display: inline-block;
    background-color:  rgb(230, 230, 240);
    width: 305px;
}

.SRIKATH-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.SRIKATH-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 35px;
}
.MADHUKAR-SIR {
    position: relative;
    display: inline-block;
    background-color: rgb(230, 230, 245);
    width: 305px;
}

.MADHUKAR-SIR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
    
}

.MADHUKAR-SIR-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 35px;
}
.VISHWATH-SIR {
    position: relative;
    display: inline-block;
    background-color: rgb(230, 230, 245);
    width: 305px;
}

.VISHWATH-SIR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
    
}

.VISHWATH-SIR-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 35px;
}
.MANOHAR-SIR{
    position: relative;
    display: inline-block;
    background-color: rgb(230, 230, 245);
    width: 305px;
}

.MANOHAR-SIR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
    
}

.MANOHAR-SIR-name {
    position: absolute;
    width: 55px;
    bottom: 25px;
    left: 75px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 35px;
}
.SRINIVAS-SIR,
.SRIKATH,
.MADHUKAR-SIR,
.VISHWATH-SIR,
.MANOHAR-SIR {
    margin-right: 50px; /* Adjust the value as needed to provide the desired gap */
    margin-left: 105px;
    margin-top: 50px;
}

.SRINIVAS-SIR,
.SRIKATH,
.MADHUKAR-SIR,
.VISHWATH-SIR,
.MANOHAR-SIR img {
    margin-bottom: 55px; /* Adjust the value as needed to provide vertical gap if necessary */
    margin-right: 110px;
    margin-top: 40px;
}
.SRINIVAS-SIR,
.SRIKATH{
    margin-right: 100px;
    margin-left: 100px;
    
}


.team {
    text-align: center;
}

.team p {
    font-size: 10em;
    color: blue;
}

.team img {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin: 15px; /* Optional: add space between images */
}






.marketing team {
    margin-top: 45px;
}

.marketingteam img {
    width: 205px;
    height: 205px;
    margin-right: 25px;
}

.marketingteam img {
    background-color: antiquewhite;
    width: 205px;
    height: 205px;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
}

.marketingteam-images name {
    display: inline-block;
    font-size: small;
    font-style: normal; /* Corrected property */
}

.marketingteam-images name:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgba(140, 140, 145, 0.857);
}
.LOKESHBANDURU {
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}
.LOKESHBANDURU-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.LOKESHBANDURU-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 40px;
    
}



    

.SATHWIKNOOLI {
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}
.SATHWIKNOOLI-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.SATHWIKNOOLI-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 40px;
    
}


.NAYBMAHAMMEDMOIN {
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px; 
}
   
    
.NAYBMAHAMMEDMOIN-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.NAYBMAHAMMEDMOIN-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 40px;
    
}



    

.ANILKUMAR{
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.ANILKUMAR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.ANILKUMAR-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 40px;
    
}
.SWETHABANDARAPU{
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.SWETHABANDARAPU-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.SWETHABANDARAPU-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 40px;
}
.MOUNIKAALUGUVELLI{
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.MOUNIKAALUGUVELLI-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.MOUNIKAALUGUVELLI-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 25px;
}
.SUNEELKUMAR{
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.SUNEELKUMAR-image {
    display: inline-block;
    margin-left: 35px;
    width: 205px;
    height: 205px;
    object-fit: cover;
   
}

.SUNEELKUMAR-name {
    position: absolute;
    width: 55px;
    bottom: 10px;
    left: 75px;
    background-color: rgba(260, 260, 265, 0.8);
    padding: 20px;
    border-radius: 25px;
}






.designer {
    margin-top: 45px;
}

.designer img {
    width: 185px;
    height: 185px;
    margin-right: 35px;
}
.designer-images name {
    display: inline-block;
    font-size: small;
    font-style: normal; /* Corrected property */
}

.designer-images name:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgba(140, 140, 145, 0.857);
}


.MOHAN-SAI {
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.MOHAN-SAI-image {
    display: inline-block;
    margin-left: 75px;
    width: 205px;
    height: 205px;
    object-fit: cover;
    margin-right: 100px;
    
   
}
.MOHAN-SAI-name {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 80px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 30px;
   
    
}
.MOHAMMED HARIS {
    position: relative;
    display: inline-block;
    background-color:rgb(235, 235, 250);
    width: 305px;
}

.MOHAMMED HARIS-image {
    display: inline-block;
    margin-left: 30px;
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-top: #0000ff;
    
    
    
   
}
.MOHAMMED HARIS-name {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 80px;
    background-color:rgba(260, 260, 265, 0.8);
    padding: 10px;
    border-radius: 30px;
   
    
}


